:root {
  /* NEGRO, GRISES Y BLANCO */
  --black: #000000;
  --color-gris-oscuro: #1A1A1A;
  --gris-texto: #333;
  --color-gris: #F2F2F2;
  --blanco: #FFFFFF;
  
  /* COLORES */
  --verde-oscuro: #1E3A2F;
  --verde-medio: #2E6B4F;
  --verde-claro: #4A9B7B;
  --verde-superclaro: #87d3b5;
  --beige: #f5f0e6;
  --rojo: #bd3e3e;

  /* SOMBRAS NADA MAS =) */
  --sombra-suave: 0 0 10px rgba(0,0,0,0.1);
  --sombra-media: 0 0 15px rgba(0,0,0,0.2);

  /* TIPOGRAFÍA */
  --fuente-base: "Segoe UI", Roboto, Arial, sans-serif;

  /* RADIOS */
  --radio: 10px;
  --radio-grande: 12px;

  /* TRANSICIONES */
  --transicion: 0.3s ease;
}
