@import "../../styles/variables.css";

/* ===================
  CONTENEDOR GENERAL
====================== */
.fondo-cesped {
  position: relative;
  background-image: url(../../assets/homeImagenes/cesped.jpg);
  background-attachment: fixed;
  animation: fadeIn 1.2s ease-out;
  z-index: 0;
  padding-bottom: 20px;
}

.fondo-cesped::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.50);
  z-index: 1;
}

.home {
  width: 100%;
}

/* ================
  CARRUSEL
=================== */
.carrusel {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
  background: var(--verde-oscuro);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.carrusel-img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  filter: brightness(0.85);
  transition: opacity 0.4s ease;
}

.slide-contenedor {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-texto {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  text-shadow: 0 3px 10px rgba(0,0,0,0.7);
  z-index: 20;
  width: 80%; /* para que no quede muy pegado a los bordes */
  background: rgba(0,0,0,0.25);
  padding: 12px 20px;
  border-radius: 10px;
}

.slide-texto h2 {
  font-size: 2.6rem;
  margin-bottom: 8px;
  font-weight: 700;
}

.slide-texto p {
  font-size: 1.3rem;
  font-weight: 400;
}

/* BOTONES DEL CARRUSEL */
.btn-carrusel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: var(--blanco);
  border: none;
  font-size: 40px;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: var(--radio);
  transition: var(--transicion);
}

.btn-carrusel:hover {
  background: var(--verde-claro);
  color: var(--verde-oscuro);
}

.btn-carrusel.izq {
  left: 10px;
  z-index: 10;
}
.btn-carrusel.der { 
  right: 10px;
  z-index: 10;
}

.dots {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 10;
}

.dot {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: var(--verde-claro);
    transform: scale(1.4);
}

/* ====================
  INFO INSTITUCIONAL
======================= */
.card-blanca {
  background: rgba(255, 255, 255, 0.15); /* transparencia real */
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 14px;
  padding: 35px 40px;
  border: 1px solid rgba(255, 255, 255, 0.5); /* borde glass */
  box-shadow: 0 8px 25px rgba(0,0,0,0.5); /* sombra más realista */
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
}

.info-home {
  padding: 20px 10%;
  text-align: center;
}

.info-home h1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: var(--verde-superclaro);
}

.info-home p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.6;
  color: var(--blanco);
}

.info-home .invitacion {
  color: var(--verde-superclaro);
  font-style: italic;
}

.card-blanca:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-4px);
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}

.card-blanca:hover h1 {color: var(--verde-oscuro);}
.card-blanca:hover p {color: var(--black);}
.card-blanca:hover .invitacion {color: var(--verde-oscuro);}

/* ===============
  UBICACIÓN
=================== */
.ubicacion {
  position: relative;
  margin: 0px 20px 0px 20px;
  padding: 20px 30px 30px 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  z-index: 2;
}

.ubicacion h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--verde-superclaro);
}

.ubicacion p {
  font-size: 1.1rem;
  color: var(--blanco);
}

.ubicacion:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-3px);
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}

.ubicacion:hover h2 {color: var(--verde-oscuro);}
.ubicacion:hover p {color: var(--black);}

/* ================
  RESPONSIVE
=================== */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .carrusel {
    height: 250px;
  }

  .carrusel-img {
    height: 250px;
  }

  .btn-carrusel {
    font-size: 30px;
    padding: 5px 10px;
  }
}

@media (max-width: 550px){

}
