.cursos {
  padding: 60px 10%;
  text-align: center;
  background-image: url("../../assets/cursosImagenes/quimica.jpg");
}

.cursos h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.cursos::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 60, 30, 0.30),
    rgba(0, 80, 40, 0.30)
  );
  animation: overlayCursos 16s ease-in-out infinite alternate;
  z-index: 0;
}

@keyframes overlayCursos {
  0% {
    background: linear-gradient(
      rgba(0, 60, 30, 0.30),
      rgba(0, 80, 40, 0.30)
    );
  }
  100% {
    background: linear-gradient(
      rgba(0, 80, 40, 0.30),
      rgba(0, 100, 50, 0.30)
    );
  }
}

/* GRID DE CURSOS */
.cursos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
}

/* BOTONES */
.curso-btn {
  padding: 15px;
  background: var(--verde-oscuro);
  color: var(--blanco);
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: var(--transicion);
}

.curso-btn:hover {
  background: var(--verde-claro);
  color: var(--verde-oscuro);
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .curso-btn {
    font-size: 1rem;
    padding: 12px;
  }
}
